anyio==3.1.0
argon2-cffi==20.1.0
asgiref==3.4.1
async-generator==1.10
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
bleach==3.3.0
bs4==0.0.1
bubbly==1.0.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
coep-package==0.1.4
colorama==0.4.4
comtypes==1.1.10
cryptography==3.4.8
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.2
dj-database-url==0.5.0
Django==3.2.7
django-allauth==0.45.0
django-crispy-forms==1.13.0
django-heroku==0.3.1
djongo==1.3.6
dnspython==2.1.0
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
google-api-core==1.30.0
google-api-python-client==2.10.0
google-auth==1.32.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
greenlet==1.1.0
gunicorn==20.1.0
httplib2==0.19.1
idna==2.10
imageio==2.9.0
interaction==1.3
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.8.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mysql-connector-python==8.0.25
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
numpy==1.20.3
oauthlib==3.1.1
opencv-python==4.5.3.56
openpyxl==3.0.7
packaging==20.9
pandas==1.2.4
pandas-datareader==0.9.0
pandocfilters==1.4.3
parso==0.8.2
patsy==0.5.1
pickleshare==0.7.5
platformdirs==2.2.0
plotly==5.1.0
plotly-express==0.4.1
prometheus-client==0.11.0
prompt-toolkit==3.0.18
protobuf==3.17.3
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pyforest==1.1.0
Pygments==2.9.0
PyJWT==2.1.0
pymongo==3.12.0
pyparsing==2.4.7
pypiwin32==223
pyrsistent==0.17.3
python-dateutil==2.8.1
python-decouple==3.5
python3-openid==3.2.0
pyttsx3==2.90
pytz==2021.1
pywaffle==0.6.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.18
sqlparse==0.2.4
statsmodels==0.12.2
tenacity==7.0.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.1.0
tifffile==2021.8.8
toml==0.10.2
tornado==6.1
traitlets==5.0.5
uritemplate==3.0.1
urllib3==1.26.5
virtualenv==20.7.2
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==2.0.1
whitenoise==5.3.0
widgetsnbextension==3.5.1
wikipedia==1.4.0
xgboost==1.4.2
